---
import main_padding from "@/styles/padding.ts";
import bg from "@/assets/image/contact_us/map.png";

import { Image } from "astro:assets";
import { ui } from "@/i18n/ui";
---

<section
  class={`flex w-full flex-col items-start justify-start relative z-0 bg-center bg-cover `}
>
  <iframe
    title="Google Maps Location"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2375.655243472127!2d9.830948800000002!3d45.6355517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47815cca513e480f%3A0x2acdf1a8fd892475!2sVia%20Lago%20d'Iseo%2C%205%2C%2024060%20Bolgare%20BG%2C%20Italy!5e1!3m2!1sen!2sin!4v1752153455640!5m2!1sen!2sin"
    width="auto"
    height="auto"
    style="border:0;"
    allowfullscreen="true"
    class="w-full object-cover object-center h-[500px]"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class={"wrapper flex flex-col items-start  pb-6"}>
    <h2
      class="text-3xl font-medium px-10 py-3 rounded-t-[20px] -translate-y-full bg-white text-vim-blue"
    >
      {ui.en["contact us"]["hero-section"].title}
    </h2>
  </div>
</section>
