---
type Props = astroHTML.JSX.AnchorHTMLAttributes;

const props = Astro.props;

const locale = Astro.currentLocale as "en" | "it";

import { getRelativeLocaleUrl } from "astro:i18n";

// @ts-ignore
const link = props.href && props.href !== "#"
  ? getRelativeLocaleUrl(locale, props.href)
  : undefined;
---

<a href={link} {...props}>
  <slot />
</a>
