---
import Layout from "@/components/layout/Layout.astro";
import main_padding from "@/styles/padding";
import Breadcrumbs from "@/ui/Breadcrumbs.astro";
import HeroSectionHeader from "@/ui/HeroSectionHeader.astro";
import { Image } from "astro:assets";
import ImageSlider from "@/components/gallery/ImageSlider";
import { ui } from "@/i18n/ui";
import { contentfulClient } from "@/libs/content/contentful/data";
import ImagesGrid from "@/components/gallery/ImagesGrid";
import Fallback from "@/components/Fallback.astro";

const { id } = Astro.params;
const local = Astro.currentLocale as "en" | "it";

const data = await contentfulClient.getEntry(id!, { locale: local });

const breadcrumbsData = [
  { link: "/", title: String(ui[local].gallery.single.breadcrumbs[0]) },
  { link: "/gallery", title: String(ui[local].gallery.single.breadcrumbs[1]) },
  { link: "", title: String(data.fields.title) },
];

export const prerender = false;
---

<Layout
  title={data.fields.title ? `${data.fields.title} | Vimec Valves Gallery` : "Product Gallery | Vimec Valves"}
  description={`View precision photos and details for ${data.fields.title} in the Vimec Valves gallery.`}
>
  <section
    class:list={[
      "wrapper flex md:mt-32 mt-28 flex-col gap-10 ",
      main_padding.y,
    ]}
  >
    <div class="flex flex-col gap-6">
      <Breadcrumbs data={breadcrumbsData} />
      <HeroSectionHeader
        title={data.fields.title + "\u00A0" + ui[local].gallery.single.photos}
      />
    </div>
    <ImagesGrid client:visible data={data} local={local!} server:defer>
      <Fallback slot="fallback" />
    </ImagesGrid>
  </section>
</Layout>
